/* p{
    font-size: 36px;
    color: blue;
} */

#elemento1{
    color: blue;
}

.caja-elemento-1{
    color: red !important;
}

/* Se toma de arrib hacia abajo la precedencia al igual con los archivos */
p{
    color: red;
    font-size: 22px;
}

p{
    color: green;
    font-size: 36px;
}