/* Unidades de medida absoluta
cm, mm, in, px, pt, pc
El pixel es la medida mas simple y comun de CSS. Un pixel representa un punto individual en la pantalla */

h3{
    font-size: 36px;
}

.caja{
    width: 10px;
    height: 10px;
    background-color: blueviolet;
}

/* La unidad de medida en porcentaje (%) en CSS, es una unidad relativa que se utiliza para definir tamaños y posiciones en relacion con el tamaño del elemento contenedor*/

.contenedor{
    background-color: brown;
    width: 80%;
    height: 500px;
    /* margin: 10%; */
}

.elemento{
    width: 50%;
    height: 100px;
    background-color: blue;
    padding: 10%;
}